/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #C47BE4;
  --title-color: #1E1E1E;
  --text-color: #a4a4a4;
  --border-color: #E8E8E8;
  --white-color: #FAFAFA;
  --body-color: #FFFFFF;
  --container-color: #FAFAFA;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #F4EEFF;
  --text-color: #E8E8E8;
  --border-color: #818181;
  --body-color: #1E1E1E;
  --container-color: #282828;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme .shadow-header {
  box-shadow: 0 2px 16px rgba(0, 0, 0, .6);
}

.dark-theme .nav-menu {
  box-shadow: 0 -8px 32px rgba(0, 0, 0, .4);
}

.dark-theme .scrollup {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
}

.dark-theme .search-wrapper.active {
  background-color: #282828;
}

.dark-theme::-webkit-scrollbar {
  background-color: #3B3B3B;
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: #5A5A5A;
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: #818181;
}

.dark-theme .dropdown-menu li a{
  color: var(--text-color);
}

.dark-theme .dropdown-menu li a:hover{
  background: #3B3B3B;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s, background-color .4s;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 96px;
}

.nav-logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.nav-logo i {
    font-size: 1.25rem;
}

/* posisi dasar */
.dropdown {
  position: relative;
}

/* menu dropdown */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  z-index: 100;
}

/* item dropdown */
.dropdown-menu li a {
  display: block;
  padding: 10px 16px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
}

.dropdown-menu li a:hover {
  background: #f3f3f3;
}

/* tampil saat hover */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .hide-mobile, .ri-arrow-down-s-line, .ri-bookmark-line, .ri-bard-line {
    display: none;
  }
  .nav-menu{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: var(--container-color);
      box-shadow: 0 -8px 32px rgba(0, 0, 0, .2);
      padding: 1.25rem 4rem;
      transition: background-color .4s;
  }
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: var(--text-color);
    transition: color .4s;
}

.nav-link span {
    display: none;
}

.nav-link i{
    font-size: 1.25rem;
}

.nav-link:hover {
    color: var(--first-color);
}

.nav-actions {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-actions i {
    font-size: 1.25rem;
    color: var(--text-color);
    cursor: pointer;
    transition: color .4s;
}

.nav-actions i:hover {
    color: var(--first-color);
}

/* Add shadow header */
.shadow-header{
  box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
}

/* Active link */


/*=============== SEARCH ===============*/
.nav-actions i, 
.search-wrapper {
  width: 20px;        
  height: 40px;        
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;      
  cursor: pointer;
}

.search-wrapper {
  width: 25px;        
  overflow: hidden;
  border-radius: 50%;   
  transition: width 0.4s ease, padding 0.4s ease;
  padding: 0;         
}

.search-wrapper .search-input {
  width: 0;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin-left: 5px;
  transition: width 0.4s ease, padding 0.4s ease;
}

/* Show search */
.search-wrapper.active {
  width: 240px;
  background-color: #f0f0f0;
  border-radius: 25px;
  padding: 5px 10px;
}

.search-wrapper.active .search-input {
  width: 100%;
  padding: 5px 10px;
}

.logo-text {
  opacity: 1;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  transition: opacity 0.25s ease, max-width 0.25s ease;
}

.logo-text.hidden {
  opacity: 0;
  max-width: 0;
  pointer-events: none;
}

/*=============== LOGIN ===============*/


/* Show login */


/*=============== HOME ===============*/

.home-section{
  margin: 0 75px;
}

#new{
  margin: 0 96px;
}

.book-card .book-desc {

  display: none;
}

.book-card {
  cursor: pointer;
}

.book-card::after {
  /* content: "Klik untuk detail"; */
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #a4a4a4;
  opacity: 0;
  transition: opacity .3s;
}

.book-card:hover::after {
  opacity: 1;
}

.home-title{
  font-size: var(--h2-font-size);
  font-family: var(--body-font);
  margin: 5rem 0 0.5rem 0;
  font-weight: bold;
}

.home-description{
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-family: var(--body-font);
  text-align: justify;
}

/*=============== GENRE / DAFTAR BUKU ===============*/

.hidden {
  display: none;
}

.section-title {
  font-size: var(--h2-font-size);
  font-family: var(--body-font);
  margin: 1rem 0 0.8rem 0;
  color: var(--first-color);
}

/* Dropdown filter */
#categoryFilter {
  display: block;
  margin: 0 auto 2.5rem auto;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--container-color);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  cursor: pointer;
}

/* Container buku */
.book-container {
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

/* Card buku */
.book-card {
  background-color: var(--container-color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}


/* Gambar buku */
.book-card img,
.book-img {
  width: 100%;;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  object-fit: cover;
  height: 300px;
}


/* Judul buku */
.book-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.2rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font);
}

/* Penulis */
.book-author {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-bottom: 0.75rem;
  font-family: var(--body-font);
}

/* Deskripsi */
.book-desc {
  font-size: var(--small-font-size);
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--text-color);
  font-family: var(--body-font);
  text-align: justify;
}

/* Harga */
.book-price {
  margin-top: auto;
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

/*=============== MODAL BOOK DETAIL ===============*/
.modal {
  display: none; /* modal BENAR-BENAR mati saat awal */
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

#modalTitle {
  font-family: var(--body-font);
  font-size: var(--h2-font-size);
  color: var(--first-color);
}

#modalAuthor{
  margin-bottom: 1rem;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: bold;
}

#modalPrice{
  color: var(--first-color);
  font-weight: bold;
  margin-top: 1rem;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: var(--body-color);
  color: var(--title-color);
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  border-radius: 1rem;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  text-align: justify;
  font-family: var(--body-font);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
  color: var(--first-color);
  cursor: pointer;
}

.close-btn:hover {
  transform: scale(1.2);
}

/*=============== NEW ARRIVAL ===============*/


/*=============== RECOMMENDATION ===============*/


/* Swiper class */


/*=============== TESTIMONIAL ===============*/
.testimonial-section{
  margin: 0 96px;
  position: relative;
  /* height: 100vh; */
  padding-block: 5rem;
  display: grid;
  align-items: center;
  row-gap: 1rem;
  overflow: hidden;
}

.testimonial-title{
  font-size: var(--h2-font-size);
  font-family: var(--body-font);
  margin-bottom: 1rem;
  color:var(--first-color);
}

.testimonial_card{
  width: 380px;
  background-color: var(--container-color);
  box-shadow: 0 12px 24px hsla(220, 100%, 20%, 0.1);
  padding: 1.2rem 1rem 2rem;
  margin-inline: 1rem;
  border-radius: 2rem;
  text-align: center;
  transition: 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.testimonial_image{
  width: 80px;
  border-radius: 50%;
  overflow: hidden ;
  box-shadow: 0px 4px 12px hsla(220, 100%, 20%, 0.3);
  margin: 1rem auto 1rem;
}

.testimonial_img{
  transition: transform 0.4s;
}

.rate_num{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color)
}

.testimonial_name{
  color: var(--first-color);
  font-family: var(--body-font);
}

.testimonial_rating{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.star{
  display: flex;
  column-gap: 0.25rem;
}

.star i{
  color: #FFD700;
  font-size: 1rem;
  transition: transform 0.2s;
  cursor: pointer;
}

.testimonial_desc{
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.testimonial_img:hover{
  transform: scale(1.2);
}

.testimonial_card:hover{
  transform: translateY(-10px);
}

.star i:hover{
  transform: scale(1.3);
}

.testimonial-content{
  display: flex;
  animation: scroll 20s linear infinite; 
}

/* infinite Scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.testimonial-content:hover{
  animation-play-state: paused; 
}


/*=============== CONTACT AND BUY===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: #E6E6E6;
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: #9e9e9e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  border-radius: .5rem;
  transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover {
  transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 6rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
@media screen and (min-width: 1150px) {
  .section {
    padding-block: 1rem 2rem;
  }

  .nav {
    height: var(--header-height);
    column-gap: 4rem;
  }

  .nav-link i {
    display: none;
  }

  .nav-link span {
    display: block;
  }

  .nav-menu {
    width: initial;
    margin-inline: auto 0;
  }

  .nav-list {
    column-gap: 4rem;
  }

  .nav-link {
    font-weight: var(--font-medium);
  }

  .dark-theme .nav-menu {
    box-shadow: none;
  }

}

@media screen and (min-width: 2560px) {
  .container {
    margin-inline: auto;
  }

  
}